#wrapper{
    width: 1000px; 
    margin: 0 auto;
    padding: 5px;
    background-color: #1B335E;
}
h1{
    background-color: crimson;
    padding: 10px;
    color: #C2D5EB
}
#navagation{
    background-color: #297C8C;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    vertical-align: top;
    margin-right: 3px;
}
#navagation ul{
    margin: 0 
}
#navagation a{
    color: #57CBDA;
}
#maincontent{
    background-color: black;
    display: inline-block;
    color:#9FBDD9;
    width: 760px;
    border-radius: 20px;
}
#maincontent a{
    color: #57CBDA
}
footer{
    background-color: grey;
    color: #A7BECF;
    width:1000px;  
    height: 35px;
    padding-top: 10px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}
footer a{
    color:#57CBDA;
}
span{
    color: #6B73C6
}